<?xml version="1.0"?>
<config>
    <modules>
        <HZ_Reminder>
            <version>0.1.0</version>
        </HZ_Reminder>
    </modules>
    <frontend>
        <routers>
            <reminder>
                <use>standard</use>
                <args>
                    <module>HZ_Reminder</module>
                    <frontName>reminder</frontName>
                </args>
            </reminder>
        </routers>
        <translate>
            <modules>
                <HZ_Reminder>
                    <files>
                        <default>HZ_Reminder.csv</default>
                    </files>
                </HZ_Reminder>
            </modules>
        </translate>
        <layout>
            <updates>
                <reminder>
                    <file>reminder.xml</file>
                </reminder>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <reminder>
                <class>HZ_Reminder_Model</class>
                <resourceModel>reminder_mysql4</resourceModel>
            </reminder>
            <reminder_mysql4>
                <class>HZ_Reminder_Model_Mysql4</class>
                <entities>
                    <reminder>
                        <table>reminder_subscriber</table>
                    </reminder>
                    <report>
                        <table>reminder_report</table>
                    </report>
                </entities>
            </reminder_mysql4>
        </models>
        <resources>
            <reminder_setup>
                <setup>
                    <module>HZ_Reminder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </reminder_setup>
            <reminder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </reminder_write>
            <reminder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </reminder_read>
        </resources>
        <blocks>
            <reminder>
                <class>HZ_Reminder_Block</class>
            </reminder>
        </blocks>
        <helpers>
            <reminder>
                <class>HZ_Reminder_Helper</class>
            </reminder>
        </helpers>
        <template>
            <email>
                <reminder_email_subscriber_template translate="label" module="reminder">
                    <label>Reminder Subscriber</label>
                    <file>reminder/subscriber_reminder.html</file>
                    <type>html</type>
                </reminder_email_subscriber_template>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <reminder>
                <use>admin</use>
                <args>
                    <module>HZ_Reminder</module>
                    <frontName>reminder</frontName>
                </args>
            </reminder>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <reminder_adminhtml>
                    <files>
                        <reminder>HZ_Reminder.csv</reminder>
                    </files>
                </reminder_adminhtml>
            </modules>
        </translate>
        <layout>
            <updates>
                <reminder>
                    <file>reminder.xml</file>
                </reminder>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <reminder>
            <email>
                <sender_name>Example Name</sender_name>
                <sender_email>reminder@example.com</sender_email>
                <subject>Example Subject</subject>
                <template_subscriber>reminder_email_subscriber_template</template_subscriber>
                <remainder_date>5,7,10</remainder_date>
            </email>
        </reminder>
    </default>
    <crontab>
        <jobs>
            <reminder_send_subscriber>
                <schedule>
                    <cron_expr>0 0 * * *</cron_expr>
                </schedule>
                <run>
                    <model>reminder/observer::scheduledSendEmailReminder</model>
                </run>
            </reminder_send_subscriber>
        </jobs>
    </crontab>
</config>